<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.locale }}">
 	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Pealer{% endblock %}</title>
	    {% stylesheets filter="?jsqueeze" output="css/app.css"
    		"css/foundation.min.css"
    		"css/font-awesome.min.css"
        %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}
	    {% stylesheets filter="?jsqueeze" output="css/pealer.css"
    		"css/custom.css"
        %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
    <body>
    {% block body %}{% endblock %}
	
	<div class="row">
		<div class="small-10 large-centered columns">
			 <div class="footer">
				<h5>Made by teglo</h5>
				<p>Copyright © 2010-2017 All Rights Reserved. Pealer is Free Software released under the GNU General Public License.</p>
			</div>
		</div>
	</div>
	
    {% javascripts filter="?jsqueeze" output="js/app.js"
    	"js/jquery.min.js"
    	"js/foundation.min.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
      jQuery(document).foundation();
    </script>
    </body>
</html>
